@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}