@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Kelson";
  src: url("../fonts/ignored/Kelson.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kelson";
  src: url("../fonts/ignored/Kelson-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Kelson";
  src: url("../fonts/ignored/Kelson-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Kelson";
  src: url("../fonts/ignored/Kelson-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Kelson";
  src: url("../fonts/ignored/Kelson-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kelson";
  src: url("../fonts/ignored/Kelson-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

/* To disable spin buttons in input type=text tags */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
