@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Kelson-ExtraBold";
  src: url("../fonts/ignored/Kelson-ExtraBold.otf");
}

@font-face {
  font-family: "Kelson-Thin";
  src: url("../fonts/ignored/Kelson-Thin.otf");
}
