@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Kelson-Regular";
    src: url("../fonts/ignored/Kelson.otf");
}

@font-face {
    font-family: "Kelson-Bold";
    src: url("../fonts/ignored/Kelson-Bold.otf");
}

@font-face {
    font-family: "Kelson-ExtraBold";
    src: url("../fonts/ignored/Kelson-ExtraBold.otf");
}

@font-face {
    font-family: "Kelson-Light";
    src: url("../fonts/ignored/Kelson-Light.otf");
}

@font-face {
    font-family: "Kelson-Medium";
    src: url("../fonts/ignored/Kelson-Medium.otf");
}

@font-face {
    font-family: "Kelson-Thin";
    src: url("../fonts/ignored/Kelson-Thin.otf");
}
