**/.dockerignore
README.md
**/.gitignore
Dockerfile

# the rest is copied from ./.gitignore
# (fonts are hidden from git by another .gitignore ./assets/fonts/ignored/.gitignore)

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example