name: scrumplicity

services:
  diplomarbeit:
    image: ghcr.io/scrumplicity/diplomarbeit
    build: ../diplomarbeit
    restart: unless-stopped

  web:
    image: ghcr.io/scrumplicity/web
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro # mount ssl keys
    restart: unless-stopped
    depends_on:
      - diplomarbeit
      - frontend
      - backend

  frontend:
    image: ghcr.io/scrumplicity/frontend
    environment:
      - NUXT_PUBLIC_SANCTUM_BASE_URL=${SCRUMPLICITY_LARAVEL_API_URL}
      - NUXT_PUBLIC_ECHO_KEY=${REVERB_APP_KEY}
      - NUXT_PUBLIC_ECHO_HOST=${REVERB_HOST}
      - NUXT_PUBLIC_ECHO_PORT=${REVERB_PORT}
      - NUXT_PUBLIC_ECHO_SCHEME=${REVERB_SCHEME}
      - NUXT_SITE_URL=${SCRUMPLICITY_FRONTEND_URL}
    build:
      context: ../frontend
    restart: unless-stopped
    depends_on:
      - backend

  backend:
    image: ghcr.io/scrumplicity/backend
    build: ../backend
    restart: unless-stopped
    environment:
      - APP_URL=${SCRUMPLICITY_LARAVEL_API_URL} # API URL
      - FRONTEND_URL=${SCRUMPLICITY_FRONTEND_URL} # Frontend URL for Sanctum (CORS)
      - APP_KEY=${APP_KEY}
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_DATABASE=${MYSQL_DATABASE}
      - DB_USERNAME=${MYSQL_USER}
      - DB_PASSWORD=${MYSQL_PASSWORD}
      - SESSION_DOMAIN=${SESSION_DOMAIN}
      - CACHE_STORE=file
      - MICROSOFT_CLIENT_ID=${MICROSOFT_CLIENT_ID}
      - MICROSOFT_CLIENT_SECRET=${MICROSOFT_CLIENT_SECRET}
      - MICROSOFT_REDIRECT_URI=${MICROSOFT_REDIRECT_URI}
      - REVERB_HOST=websocket
      - REVERB_PORT=8888
      - REVERB_SCHEME=http
      - BROADCAST_CONNECTION=reverb
      - QUEUE_CONNECTION=database
      - REVERB_APP_ID=${REVERB_APP_ID}
      - REVERB_APP_KEY=${REVERB_APP_KEY}
      - REVERB_APP_SECRET=${REVERB_APP_SECRET}
    depends_on:
      - db
      - websocket

  websocket:
    image: ghcr.io/scrumplicity/backend
    build: ../backend
    restart: unless-stopped
    command: php artisan reverb:start --port=8888
    healthcheck:
      disable: true
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_DATABASE=${MYSQL_DATABASE}
      - DB_USERNAME=${MYSQL_USER}
      - DB_PASSWORD=${MYSQL_PASSWORD}
      - CACHE_STORE=file
      - QUEUE_CONNECTION=sync
      - REVERB_APP_ID=${REVERB_APP_ID}
      - REVERB_APP_KEY=${REVERB_APP_KEY}
      - REVERB_APP_SECRET=${REVERB_APP_SECRET}
    depends_on:
      - db
  queue:
    image: ghcr.io/scrumplicity/backend
    build: ../backend
    restart: unless-stopped
    command: php artisan queue:work
    healthcheck:
      disable: true
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_DATABASE=${MYSQL_DATABASE}
      - DB_USERNAME=${MYSQL_USER}
      - DB_PASSWORD=${MYSQL_PASSWORD}
      - CACHE_STORE=file
      - REVERB_HOST=websocket
      - REVERB_PORT=8888
      - REVERB_SCHEME=http
      - BROADCAST_CONNECTION=reverb
      - QUEUE_CONNECTION=database
      - REVERB_APP_ID=${REVERB_APP_ID}
      - REVERB_APP_KEY=${REVERB_APP_KEY}
      - REVERB_APP_SECRET=${REVERB_APP_SECRET}
    depends_on:
      - db

  db:
    image: mariadb:11@sha256:4a1de8fa2a929944373d7421105500ff6f889ce90dcb883fbb2fdb070e4d427e
    pull_policy: always
    restart: unless-stopped
    volumes:
      - dbdata:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

volumes:
  dbdata:
